page-profile{
    .threeButton{
        font-size: 25px;
    }
    .head{
        background: rgb(1,17,39);
        color: white;
    }
    .DP{
        width: 100px;
        border-radius: 500px;
    }
    p{
        font-size:12px;
    }
    .bio{
        background: red;
        border: 2px solid red;
    }
    
}