<ion-content class="home">

  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button clear icon-only (click)="next()">
          <ion-icon name="close" class="sizeq"></ion-icon>
        </button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col align="right">
        <button ion-button clear icon-only (click)="presentPopover()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-content #popoverContent class="home">
  <ion-fab bottom right>
    <button ion-button mini icon-only color="primary" class="btnIcon" (click)="upload()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div class="head" id="start" #head>
    <div id="pic" align="center">
      <div class="photo">
        <div class="dp">
          <ion-grid *ngFor="let item of arr">
            <ion-row>
              <ion-col col-5 class="displayPhoto">
                <div>
                  <img class="m" [src]="item.downloadurl" imageViewer>
                </div>
              </ion-col>
              <ion-col>
                <div class="personal-details">
                  <p class="Caps-Lock">
                    <b class="artist-name">{{item.name}}</b>
                  </p>
                  <p class="lowerCase">{{item.email}}</p>
                  <p>{{item.contact}}</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="bio">
                  {{item.bio}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
 
  <div class="list">
  </div>
  </div>
  <div class="split">
    <b class="uploads" id="theHead">My Artwork</b>
  </div>
  <div class="contents">
    <ion-grid class="uploads">
      <ion-row class="gal">
        <ion-col *ngFor="let a of list" col-6>
          <div class="remover" (click)="removeImage(a.key)">
            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          </div>
          <img class="image" [src]="a.downloadurl" imageViewer alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list class="list">
    <ion-item *ngFor="let item of obj">
      <ion-fab right>
        <ion-icon id="icon2" name="brush"></ion-icon>
      </ion-fab>
      <p>
        Name: {{item.name}}
      </p>
      <p>Email: {{item.email}}
      </p>
      <p>Instagram:
      </p>
      <p>Facebook:
      </p>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button (click)="retreivePics()">My gallery</button>
      </ion-col>
      <ion-col>
        <button ion-button>
          <ion-icon name="add" (click)="upload()"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-list>
    <ion-item *ngFor="let a of list">
      <img [src]="a.downloadurl">
      <h2>{{a.name}}</h2>
    </ion-item>
  </ion-list>
</ion-content>