<ion-content class="home">

  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button clear icon-only (click)="next()">
          <ion-icon name="close" class="sizeq"></ion-icon>
        </button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col align="right">
        <button ion-button clear icon-only (click)="presentPopover()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1 id="head" align="center">Profile</h1>
  <div id="pic" align="center">
    <img src="../../assets/me.jpg">
    <ion-fab right>
      <ion-icon id="icon" name="add"></ion-icon>
    </ion-fab>
  </div>
  <ion-list class="list">
    <ion-item *ngFor="let item of obj">
      <ion-fab right>
        <ion-icon id="icon2" name="brush"></ion-icon>
      </ion-fab>
      <p>
        Name: {{item.name}}
      </p>
      <p>Email: {{item.email}}
      </p>
      <p>Instagram:
      </p>
      <p>Facebook:
      </p>
    </ion-item>
  </ion-list>
  <ion-icon name="add" (click)="upload()"></ion-icon>
  <button ion-button (click)="retreivePics()">My gallery</button>

  <ion-list>
    <ion-item *ngFor="let a of list">
      <img [src]="a.downloadurl">
      <h2>{{a.name}}</h2>
    </ion-item>
  </ion-list>
</ion-content>