page-chats {
<<<<<<< HEAD

=======
>>>>>>> a44a7194bfb63fb7d0c14bfd35a387c6fe62545d
    .scrollContent{
        padding-top: 50%;
        transform: translateY(-25%);
        text-align: center;
<<<<<<< HEAD

=======
>>>>>>> a44a7194bfb63fb7d0c14bfd35a387c6fe62545d
    }
    .body{
        background: whitesmoke;
    }
    .client{
<<<<<<< HEAD
        box-shadow: 0 2px 12px rgb(1,17,39);
        border-radius: 5px;
=======
        box-shadow: 0 5px 5px rgba(1, 17, 39, 0.24);
        border-radius: 10px;
>>>>>>> a44a7194bfb63fb7d0c14bfd35a387c6fe62545d
    }
    .secondary{
        background: linear-gradient(rgba(0, 0, 0,0.4),rgba(0, 0, 0, 0));
        background-size: 100%;
        width: 100vw;
        margin-left: -10px;
    }
<<<<<<< HEAD
=======
    .caps{
        text-transform: capitalize;
    }
    .no-data{
        margin-top:40%;
    }
    p{
        text-align: center;
    }
>>>>>>> a44a7194bfb63fb7d0c14bfd35a387c6fe62545d
}
